@font-face {
  font-family: Poppins;
  src: url("./FontFamily/Poppins-Regular.ttf");
}
*{
  margin: 0;
  padding: 0;
}
/* .MuiBox-root .css-16j6ze0-MuiTypography-root  {
  font-weight: 600 !important
} */

.css-qvzsud-MuiCardContent-root:last-child{
  padding-bottom: 0px !important;
}
.slick-slider{
  padding: 0px 20px;
}
.detailImg{
  height: 267px;
  width: 305px;
}
@media(max-width:1800px) {
  .detailImg{
    height: 210px;
    width: 200px
  } }
@media(max-width:1400px) {
.detailImg{
  height: 209px;
  width: 258px
} 

}
@media(max-width:600px) {
  .detailImg{
    height: 146px;
    width: 143px;
  } 
  }
  .networkImg{
    height:50px;
    width:50px;
  }
  .favouriteImg{
    width: 50%;
  }
  .css-xjfvls-MuiPaper-root-MuiAppBar-root{
    background:none !important;
  }

  @media (min-width:1200px){
    .imgRight{
      height:110px
    }
  }
  

/* @media(max-width:1850px) { 
  .detailImg{
  right: 2.5%;
  bottom: 0.5%;
  width: 45%;
  height: 58%;
}
} */
@media(max-width:1300px) { 
  .detailImg{
  right: 1.5% !important;
  bottom: 0.5% !important;
  width: 35% !important;
  height: 58% !important;
} }
@media(min-width:1500px) { 
  .detailImg{
  right: 1.5% !important;
  bottom: 0.5% !important;
  width: 46% !important;
  height: 58% !important;
} 
}
@media(min-width:1850px) { 
  .detailImg{
  right: 1.5% !important;
  bottom: 0.5% !important;
  width: 48% !important;
  height: 58% !important;
} 

}
@media(min-width:1750px) { 
 
.detailCardText{
  font-size: 20px !important;
}
}

@media(min-width:1200px) { 
 
  .imgAdvertisment{
    position: absolute;
    top: 2%;
    right: 5%;
    object-fit: cover;
    height: 131px;
  }
  }
  @media(min-width:1200px) { 
 
    .imgAdvertisment2{
      position: absolute;
      top: 2%;
      right: 4%;
      object-fit: cover;
      height: 100px;
    }
    }
    @media(min-width:1536px) { 
 
      .imgAdvertisment{
        position: absolute;
        top: 4%;
        right: 5%;
        object-fit: cover;
        height: 161px;
      }
      }
      @media(min-width:1536px) { 
     
        .imgAdvertisment2{
          position: absolute;
          top: 2%;
          right: 0%;
          object-fit: cover;
          height: 130px;
        }
        }
        @media(min-width:600px){
          .arrowPosition{
            position: absolute; top: 50%; left: 2%;
          }
        }
        @media(min-width:1300px){
          .arrowPosition{
            position: absolute; top: 50%; left: 6%;
          }
        }
        @media(min-width:1800px){
          .arrowPosition{
            position: absolute; top: 50%; left: 13%;
          }
        }
        @media(min-width:600px){
          .arrowPositionRight{
            position: absolute; top: 50%; right: 2%;
          }
        }
        @media(min-width:1300px){
          .arrowPositionRight{
            position: absolute; top: 50%; right: 6%;
          }
        }
        @media(min-width:1800px){
          .arrowPositionRight{
            position: absolute; top: 50%; right: 13%;
          }
        }